beautifulsoup4==4.8.0
bokeh==1.4.0
Django==2.2.21
django-heroku==0.3.1
gunicorn==20.0.4
html5lib==1.0.1
numpy==1.17.2
pandas==0.25.1
psycopg2==2.8.4
python-decouple==3.3
requests==2.22.0
selenium==3.141.0
Unidecode==1.1.1
